* {

    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;

}

.título1 {
    
    
    color: rgb(230, 145, 65);
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

.título2 {

    text-align: center;
    color: rgb(230, 145, 65);
    
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 50px;
    padding-top: 200px;

}

.título3 {


    color: rgb(230, 145, 65);
    margin-top: 20px;
    padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    display: flex;
}

#listaVaca {

    list-style: square;

}

#pratoVaca {


    margin-left: 100px;
    padding: 20px;

}

p{
    font-family: 'Lora', serif;
    font-size: 15px;
    

}

.listaSimilares{
    
        font-family: 'Ubuntu', sans-serif;
        list-style: none;
        display: flex;
}

.listaSimilares a:hover{

    color: rgb(0, 0, 0);

}

.listaSimilares a{

    text-decoration: none;
}


footer {

margin-top: 50px;
height: 150px;
width: auto;


}

footer a{

    text-decoration: none;
    
    }

footer a:hover{

    color: rgb(0, 0, 0);
    
    }

#cabeca{

    width: 45%;
    float: left;
    
}

#busca{

    width: 45%;
    float: right;
    padding-top: 15px;
    color: orange;
    

}

#busc{

    width: 500px;   
    height: 50px;
    color: orange;
    padding-left: 20px;
}